# ===========================
# Deny File Listings for Site
# ===========================
Options -Indexes

# ==========================================================================
# Redirect Forbidden(403) and Page Not Found(404) error to custom error page
# ==========================================================================
ErrorDocument 403 /content/error.php
ErrorDocument 404 /content/error.php

php_flag  log_errors on
php_value error_log /var/log/ispconfig/httpd/showofhands.staging2.oi.co.za/error.log
#php_value error_log /usr/home/showodmemr/public_html/PHP_errors.log


<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>
# END Gzip

<FilesMatch "\.(jpg|jpeg|png|gif|swf|js|mp3|flv)$">
# Header set Cache-Control "max-age=29030400, public"
</FilesMatch>

# ========================================
# Deny File Access to the Global.php file
# ========================================
<Files global.php>
order allow,deny
deny from all
</Files>

# =============
# URL Rewriting
# =============
RewriteEngine on

RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{HTTP_USER_AGENT} libwww [NC,OR]
RewriteCond %{QUERY_STRING} ^(.*)=http [NC]
RewriteRule ^(.*)$ – [F,L]

# Landing page for site
# ---------------------
RewriteRule ^(index\.php)$ 				content/default.php [L]
RewriteRule ^(default)$ 				content/default.php [L]


RewriteCond %{QUERY_STRING} 				^(id=1)$
RewriteRule ^content/content\.php$ 			content/default.php [L]

# Content Pages
# -------------
RewriteRule ^(404_error)$ 		 	 	content/error.php [L]

RewriteRule ^content/([0-9a-zA-Z-]+)$	 		content/content.php?id=$1 [L]
RewriteRule imageheaders/([0-9]+) 	 		content/imageheaders.php?id=$1 [L]
#RewriteRule ^contact/send 			 	content/contact.php?send=1 [L]
#RewriteRule ^(contact)$ 				content/contact.php [L]


RewriteRule ^(sitemap)$				 	content/sitemap.php [L]
RewriteRule ^(googlesitemap)$		 		content/googlesitemap.php [L]

# Permalinks - generated by php
# ----------
##permalinkStart#
RewriteRule ^(contact)$	content/content.php?id=2&siteid=1 [L]
##permalinkEnd#
